@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
}
/* variables */
:root {
  --body-color: #fffaed;
  --primary-color: #111827;
  --secondary-color: #f8dd9e;
  --linear-primary-color: #f5cc6e;
  --linear-secondary-color: #fe0000;
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* * {
  outline: 1px solid red;
} */
